<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package Probe</title>
    <style>
        body{
            background-color: hsl(300, 100%, 90%);
        }

        #progress {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
    </style>
</head>
<body>
    <div id="progress">
        Waiting for updates...
    </div>

    <script>
        console.log("index.html loaded");
        const progressDiv = document.getElementById('progress');
        const socket = new WebSocket('ws://localhost:3000');

        socket.onopen = () => {
            console.log('WebSocket connection established');
        };

        socket.onmessage = (event) => {
            const data = JSON.parse(event.data);
            console.log('Message from server:', data.progress);
            progressDiv.textContent = data.progress;
        };

        socket.onclose = () => {
            console.log('WebSocket connection closed');
        };

        socket.onerror = (error) => {
            console.error('WebSocket error:', error);
        };
    </script>
</body>
</html>
