html{
  font-size: 62.5%;
}

:root{
  --grey1: #e6e2d9;
  --grey2: #b7b4ae;
  --grey3: #818d8e;
  --grey4: #677071;
  --grey5: #323232;

  --blue1: #2ab4d3;
  --blue2: #238da4;
  --blue3: #2ab4d337;
}

body {
  font-family: 'jetbrains mono', 'consolas', Arial, sans-serif;
  margin: 0;
  font-size: 1.6rem;
  background-color: var(--grey1);
  display: flex; 
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

p, h1, h3{
  margin: 0;
}

h1{
  font-size: 4.5rem;
}


main{
  display: flex;
  flex-direction: column;
  color: var(--blue1);
  background-color: var(--grey5);
  width: 80vw;
  padding: 2vh 4vw;
  height: 90vh;
  box-shadow: 9px 5px 32px -7px rgba(0,0,0,0.75);
}

footer{
  flex-direction: row;
  background-color: var(--grey5);
  width: 80vw;
  padding: 1vh 4vw;
  border-top: solid 1px var(--grey3);
  
}
footer > a{
  color: var(--grey2);
}
footer > a:hover{
  color: var(--blue2);
}
footer > div{
  display: inline;
  color: var(--grey2);
}



#dragAndReportDownloadSection{
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

#downloadBtn{
  font-family: 'jetbrains mono', 'consolas', Arial, sans-serif;
  height: 90%;
  max-width: 75vw;
  padding: 1vh 3vw;
  font-size: 2rem;
  overflow: hidden;
}
.inactive{
  background-color: var(--grey3);
}
.inactive:hover{
  cursor: not-allowed;
}

.active{
  background-color: var(--grey1);
  position: relative;
}
.active::after{
  overflow: hidden;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.1s;
  background-color: var(--blue2);
}
.active:hover{
  cursor: pointer;
  color: var(--blue2)
}
.active:hover::after{
  width: 100%;
  height: 15%;
  transform: translateY(-100%);
  z-index: 20;
}


/* small screen */
@media screen and (max-width: 1000px) {
  #dragAndReportDownloadSection{
    flex-direction: column;
  }
  
  #downloadBtn{
    margin: 1vh 0;
    max-width: 77vw;
  }
}

/* Larger screen */
@media screen and (min-width: 1000px) {
  #dragAndReportDownloadSection{
    flex-direction: row;
    align-items: center;
  }

  #downloadBtn{
    margin: 0vh 4vw;
  }
}

#fileData {
  height: fit-content;
  max-height: 60vh;
  width: 75vw;
  margin: 2vh 0;
  overflow-y: auto;
  overflow-x: auto;
  background-color: var(--grey2);;
  color: var(--grey5);
  padding: 1rem 1vw;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey3); 

}
::-webkit-scrollbar-thumb:hover {
  background: var(--grey4); 
}


.dropArea {
  width: 50vw;
  height: fit-content;
  border: solid var(--grey2);
  margin: 0rem 0;
  padding: 2rem 1rem;
}

.dropArea:hover{
  background-color: var(--blue3);
}

.highlight{
  background-color: var(--blue3);
}

#OpenUpload{
  width: 50vw;
  height: 20vh;
}