body {
  font-family: 'jetbrains mono', 'consolas', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6e2d9;
  display: flex; 
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

p, h1, h3{
  margin: 0;
}

h1{
  font-size: 3rem;
}

main{
  display: flex;
  flex-direction: column;
  color: #2ab4d3;
  background-color: #323232;
  width: 80vw;
  padding: 2vh 4vw;
  height: 90vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer{
  flex-direction: row;
  background-color: #323232;
  width: 80vw;
  padding: 1vh 4vw;
  border-top: solid 1px #818d8e;
  
}
footer > a{
  color: #b7b4ae;
}
footer > a:hover{
  color: #238da4;
}
footer > div{
  display: inline;
  color: #b7b4ae;
}



#dragAndReportDownloadSection{
  display: flex;
  flex-direction: row;
}

#downloadBtn{
  font-family: 'jetbrains mono', 'consolas', Arial, sans-serif;
  margin: 2vh 4vw;
  padding: 1vh 3vw;
  font-size: large;
  overflow: hidden;
}
.inactive{
  background-color: #818d8e;
}
.inactive:hover{
  cursor: not-allowed;
}

.active{
  background-color: #e6e2d9;
  position: relative;
}
.active::after{
  overflow: hidden;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.1s;
  background-color: #238da4;
}
.active:hover{
  cursor: pointer;
  color: #238da4
}
.active:hover::after{
  width: 100%;
  height: 15%;
  transform: translateY(-100%);
  z-index: 20;
}


#fileData {
  height: fit-content;
  max-height: 60vh;
  width: 75vw;
  margin: 2vh 0;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #b7b4ae;
  color: #323232;
  padding: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #818d8e; 
}


.dropArea {
  width: 50vw;
  height: fit-content;
  border: solid #b7b4ae;
  margin: 1rem 0;
  padding: 1rem 1rem;
}

.dropArea:hover{
  background-color: #2ab4d337;
}

.highlight{
  background-color: #2ab4d337;
}

#OpenUpload{
  width: 50vw;
  height: 20vh;
}